@model PaginatedList<Utilitarios.SecurityProfileDist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_LayoutSuperAdmin.cshtml";
    int totalPages = (int)ViewData["totalPages"];
    var distributorInfos = ViewData["distributorInfos"] as List<Utilitarios.DistributorInfo>;
}

<br />
<h5 class="text-muted d-block text-center" style="font-family: 'Century Gothic';">PERFILES DE SEGURIDAD</h5>
<hr />
<div class="row justify-content-center">
    <div class="col-md-10 col-sm-12 table-responsive">
        <div class="row mb-3">
            <div class="col-md-4 col-sm-12 mb-1">
                <a asp-action="Create" class="btn btn-sm btn-info">Agregar&nbsp;&nbsp;<i class="fas fa-plus"></i></a>
                <div class="float-right">
                    <a class="btn btn-sm btn-outline-warning" asp-action="Index" data-toggle="tooltip" title="Deshacer filtros">
                        <i class="fas fa-sync"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <form asp-action="Index" method="get" id="formFilter">
                    <div class="row">
                        <div class="col-4">
                            <select name="distributorInfoId" value="@ViewData["distributorInfoId"]" class="form-control form-control-sm"
                                    onchange="document.getElementById('formFilter').submit();">
                                <option value="-1">-Distribuidor-</option>
                                @foreach (var c in distributorInfos)
                                {
                                    @if (c.Id == Convert.ToInt32(@ViewData["distributorInfoId"]))
                                    {
                                        <option value="@c.Id" selected>@c.Title</option>
                                    }
                                    else
                                    {
                                        <option value="@c.Id">@c.Title</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-4">
                            <input class="form-control form-control-sm" type="text" name="nombre" placeholder="Nombre:" value="@ViewData["nombre"]" />
                        </div>
                        <div class="col-4">
                            <input type="submit" value="Filtrar" class="btn btn-block btn-sm btn-outline-info" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @if (ViewBag.emptyMessage != null)
        {
            <div class="container">
                <div class="alert alert-light">
                    <span>@ViewBag.emptyMessage</span>
                </div>
            </div>
        }
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-sm-12">
                    <div class="card shadow">
                        <div class="card-body row justify-content-center">
                            <div class="col-md-5 col-sm-12">
                                <dl class="dl-horizontal">
                                    <dt class="text-muted">
                                        @Html.DisplayNameFor(model => model[0].Title)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </dd>
                                    <dt class="text-muted">
                                        @Html.DisplayNameFor(model => model[0].DistributorInfo)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(modelItem => item.DistributorInfo.Title)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <div class="form-group">
                                    <b class="text-muted">@Html.DisplayNameFor(model => model[0].ProfilePermissionsDists)</b>
                                    <br />
                                    @if (item.ProfilePermissionsDists.Count == 0)
                                    {
                                        <span class="badge badge-default border">No tiene permisos</span>
                                    }
                                    @foreach (var pp in item.ProfilePermissionsDists)
                                    {
                                        <span class="badge badge-primary mb-1">@pp.SinglePermissionDist.Title</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                            <div class="float-right">
                                <a asp-area="SuperAdmin" asp-controller="ProfilePermissions" asp-action="ModifyProfilePermission"
                                    asp-route-securityProfileDistId="@item.Id" class="btn btn-sm btn-outline-info">
                                    Gestionar permisos
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            @if (totalPages > 1)
            {
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-nombre="@ViewData["nombre"]"
                   asp-route-distributorInfoId="@ViewData["distributorInfoId"]"
                   class="btn btn-sm btn-outline-info @prevDisabled">
                    <i class="fas fa-angle-left"></i>
                </a>
                @for (int i = 1; i <= totalPages; i++)
                {
                    string badgeClass = i == Model.PageIndex ? "badge-info" : "badge-light text-muted";
                    <a asp-action="Index"
                   asp-route-nombre="@ViewData["nombre"]"
                   asp-route-distributorInfoId="@ViewData["distributorInfoId"]"
                       asp-route-pageNumber="@i">
                        <span class="number-page badge @badgeClass" style="transition: 0.5s;">@i</span>
                    </a>
                }
                <a asp-action="Index"
                   asp-route-nombre="@ViewData["nombre"]"
                   asp-route-distributorInfoId="@ViewData["distributorInfoId"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   class="btn btn-sm btn-outline-info @nextDisabled">
                    <i class="fas fa-angle-right"></i>
                </a>
            }
        </div>
    </div>
</div>
<br />

@section Scripts {
    <script type="text/javascript" src="~/js/navigation.js"></script>
}