@model Utilitarios.CustomerUser

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var precommandCustomerNames = ViewData["precommandCustomerNames"] as List<Utilitarios.PrecommandCustomerName>;
}

<br />
<div class="row justify-content-center">
    <div class="col-md-6 col-sm-8 col-xs-10">
        <a class="btn btn-sm btn-outline-info animate__animated animate__backInUp" asp-action="Index">
            <i class="fas fa-arrow-left"></i>
        </a>
        <div class="card shadow animate__animated animate__backInDown">
            <div class="card-header">
                <b class="text-muted d-block text-center">Gestionar precomandos del usuario</b>
            </div>
            <div class="card-body row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="control-label text-muted">Usuario</label>
                        <br />
                        <span>@Model.Email</span>
                    </div>
                </div>
                <div class="col-12">
                    <b class="text-muted">Precomandos</b>
                    <div class="form-group"
                         style="max-height: 200px; overflow: auto; padding: 10px;">
                        @*precomandos*@
                        @foreach (var precommandCN in precommandCustomerNames)
                        {
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" class="checkbox-precommand" id="precommand-@precommandCN.PrecommandId">
                                    </div>
                                </div>
                                <input type="text" readonly class="form-control" value="@precommandCN.CustomerTitle">
                                <div class="input-group-append">
                                    <div class="input-group-text bg-info">
                                        @precommandCN.Precommand.Model.Title
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @*Formulario al que enviaremos la información de los precomandos*@
                    <form id="form1" asp-action="Edit">
                        <input type="hidden" name="customerUserId" id="customerUserId" value="@Model.Id" />
                        <input type="hidden" name="precommandIDsStr" id="precommandIDsStr" />
                    </form>
                </div>
            </div>
            <div class="card-footer text-center">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-10">
                        <input type="button" id="btn-submit" value="Actualizar" class="btn btn-block btn-outline-info" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function (e) {
            loadPrecommandCustomerNamesByCustomerUserId = (customerUserId) => {
                $.ajax({
                    url: "@Url.Action("GetPrecommandCustomerNamesByUser", "PrecommandByUsers")",
                    data: {
                        customerUserId
                    },
                    type: "get"
                }).done(({ precommandCustomerNames }) => {
                    showPrecomamndCustomerNamesByCustomerUserId(precommandCustomerNames);
                }).catch(console.error);
            }

            showPrecomamndCustomerNamesByCustomerUserId = (precommandCustomerNames) => {
                if (precommandCustomerNames.length == 0) {
                    return;
                }

                precommandCustomerNames.forEach(precommandCN => {
                    $(`#precommand-${precommandCN.precommandId }`).prop('checked', true);
                });
            }

            // Llamada inicial del método
            loadPrecommandCustomerNamesByCustomerUserId($('#customerUserId').val());

            // Submit formulario
            $('#btn-submit').click(function (e) {
                let precommandsIDs = [];
                $('.checkbox-precommand').each(function (e) {
                    if ($(this)[0].checked) {
                        const id = $(this).attr('id').split('-')[1];
                        precommandsIDs.push(id);
                    }
                });
                const precommandsIDsStr = precommandsIDs.join('#');
                $('#precommandIDsStr').val(precommandsIDsStr);
                $('#form1').submit();
            });
        });
    </script>
}