@model Utilitarios.Device

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<br />
<div class="row justify-content-center">
    <div class="col-md-6 col-sm-8 col-xs-12">
        <a class="btn btn-sm btn-outline-info animate__animated animate__backInUp" asp-action="Index">
            <i class="fas fa-arrow-left"></i>
        </a>
        <div class="card shadow animate__animated animate__backInDown">
            <div class="card-header">
                <b class="text-muted d-block text-center">¿Estás seguro de eliminar este dispositivo?</b>
            </div>
            <div class="card-body row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <dl class="dl-horizontal">
                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.AssetSerial)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AssetSerial)
                        </dd>
                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.Model)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Model.Title)
                        </dd>
                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.DistributorInfo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DistributorInfo.Title)
                        </dd>
                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.CustomerInfo)
                        </dt>
                        <dd>
                            @if (Model.CustomerInfoId == null)
                            {
                                <span class="text-danger">No asignado</span>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.CustomerInfo.Title)
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6 col-sm-12">
                    <dl class="dl-horizontal">
                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.NetworkIdentifier)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NetworkIdentifier)
                        </dd>
                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.ZoneTime)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ZoneTime)
                        </dd>
                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.DevPass)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DevPass)
                        </dd>
                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.CreationDT)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreationDT)
                        </dd>
                    </dl>
                </div>
                <div class="col-12">
                    <dl class="dl-horizontal">
                        <dt class="text-muted">
                            @Html.DisplayNameFor(model => model.BluetoothInfo)
                        </dt>
                        <dd>
                            @if (!string.IsNullOrEmpty(Model.BluetoothInfo))
                            {
                                @Html.DisplayFor(model => model.BluetoothInfo)
                            } else
                            {
                                <pre>{}</pre>
                            }
                        </dd>
                    </dl>
                </div>
            </div>
            @{
                string display = ViewData["foreignKeyMessage"] != null ? "d-none" : "";
            }
            <div class="card-footer @display">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-8">
                        <form asp-action="Delete" id="formDelete">
                            <input type="hidden" asp-for="Id" />
                        </form>
                        <input type="button" value="Eliminar" id="btn-eliminar" class="btn btn-block btn-outline-danger" />
                    </div>
                </div>
            </div>
        </div>
        @if (ViewData["foreignKeyMessage"] != null)
        {
            <div class="alert alert-warning animate__animated animate__backInUp">
                <span>@ViewData["foreignKeyMessage"]</span>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#btn-eliminar').click(async (e) => {
                const result1 = await mensajeConfirmacion('¿Está seguro de borrarlo?', 'Si elimina el dispositivo, es posible que se pierda la información de reportes asociadas a este equipo');
                if (result1.value) {
                    const result2 = await mensajeConfirmacion('¿Desea continuar?', 'Confirme que desea borrar el dispositivo, esto eliminará la información histórica y geográfica de reportes');
                    if (result2.value) {
                        $('#formDelete').submit();
                    }
                }
            });

            mensajeConfirmacion = (title, text) => {
                return Swal.fire({
                    title,
                    text,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Eliminar',
                    cancelButtonText: 'Cancelar'
                });
            }
        });
    </script>
}