
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vialab</title>
    <link rel="Shortcut Icon" href="~/vialab.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    @*Animate Css*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
</head>
<body class="bg-dark">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-8 col-xs-10">
                @if (ViewData["guid"] != null)
                {
                    <a class="btn btn-sm btn-light mb-1" asp-action="Login">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <div class="card shadow">
                        <div class="card-header text-center">
                            <b class="text-muted">Recuperación de contraseña</b>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                Se ha enviado el token al email: <b>@ViewData["email"]</b>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <input type="hidden" id="email-hidden" value="@ViewData["email"]" />
                            <div class="form-group">
                                <b class="text-muted">Token</b>
                                <input type="text" class="form-control" id="token" />
                            </div>
                            <div class="form-group">
                                <b class="text-muted">Nueva contraseña</b>
                                <input type="password" class="form-control" id="newPassword" />
                            </div>
                            <div class="form-group">
                                <b class="text-muted">Confirma contraseña</b>
                                <input type="password" class="form-control" id="repeatPassword" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-center">
                                <div class="col-md-4 col-sm-6">
                                    <button type="submit" class="btn btn-block btn-outline-success" id="btn-confirmar">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <form action="PasswordRecovery" method="post" id="form1">
                        <a class="btn btn-sm btn-light mb-1" asp-action="Login">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                        <div class="card shadow">
                            <div class="card-header text-center">
                                <b class="text-muted">Recuperación de contraseña</b>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <b class="text-muted">Email</b>
                                    <input type="email" class="form-control" name="email" id="email" />
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row justify-content-center">
                                    <div class="col-md-4 col-sm-6">
                                        <button type="submit" class="btn btn-block btn-outline-success" disabled>Solicitar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function (e) {

            $('#btn-confirmar').click(function (e) {
                let newPassword = $('#newPassword').val().trim();
                let repeatPassword = $('#repeatPassword').val().trim();
                let token = $('#token').val();

                if (newPassword == '' || repeatPassword == '' || token == '') {
                    Swal.fire({ icon: 'error', text: 'Es necesario completar todos los campos' });
                    e.preventDefault();
                } else {
                    if (newPassword === repeatPassword) {

                        if (newPassword.length < 5) {
                            Swal.fire('Error', 'La contraseña es demasiado corta', 'error');
                            e.preventDefault();
                        } else {
                            var email = $('#email-hidden').val();
                            $.ajax({
                                url: "@Url.Action("VerifyToken", "Account")",
                                data: {
                                    email,
                                    token: $('#token').val(),
                                    newPassword
                                },
                                type: 'post'
                            }).done(function (response) {
                                if (response) {
                                    Swal.fire({
                                        html: `La contraseña para <b>${ email }</b> ha sido cambiada`,
                                        icon: 'success',
                                        confirmButtonText: 'OK',
                                    }).then((result) => {
                                        if (result.value) {
                                            window.location.href = "@Url.Action("Login", "Account")";
                                        }
                                    });
                                } else {
                                    Swal.fire({ icon: 'error', text: 'El token no coincide con el enviado al email' });
                                }
                            }).fail(function (error) {
                                console.error(error);
                            });
                        }
                    } else {
                        e.preventDefault();
                        Swal.fire({icon: 'error', text: 'Las contraseñas no coinciden'});
                    }
                }
            });

            $('#email').keyup(function (e) {
                let email = $(this).val();
                $('#form1 button[type=submit]').prop('disabled', email == '');
            });

            $('#form1').submit(function (e) {
                let email = $('#email').val();
                $.ajax({
                    url: "@Url.Action("EmailExists", "Account")",
                    data: {
                        email
                    },
                    type: 'get',
                    async: false
                }).done(function (response) {
                    if (!response) {
                        e.preventDefault();
                        Swal.fire({icon: 'error', title: 'Error', html: `<b>${email}</b> no corresponde a ningún usuario cliente`});
                    }
                }).fail(function (error) {
                    console.error(error);
                });
            });
        });
    </script>
</body>
</html>
